:root{
    --black: #000000;
    --dark-gray: #a7a7a7;
    --light-gray: #eeeeee;
    --white: #ffffff;
    --ok: #4bc221;
    --cancel: #c22148;
}

body{
    font-family: 'Epilogue', sans-serif;

    margin: 0;

    display: flex;
}

.navbar{
    
    display: flex;
}