:root{
    --black: #000000;
    --dark-gray: #a7a7a7;
    --light-gray: #eeeeee;
    --white: #ffffff;
    --ok: #4bc221;
    --cancel: #c22148;
}

body{
    font-family: 'Epilogue', sans-serif;

    margin: 0;

    display: flex;

    overflow: hidden;
}

.brand{
    background-color: var(--black);
    color: var(--white);

    width: 50%;
    height: 100vh;

    text-align: center;

    display: flex;
}

.slogan{
    font-size: 1.5rem;

    margin: auto;
}

.slogan p{
    margin: 0;
    margin-top: 0.6rem;
}

.form{
    width: 50%;

    display: flex;
}

.form img{
    width: 80%;

    margin: 0 auto 3rem auto;

    display: none;
}

.form-card{
    text-align: center;

    width: 75%;

    margin: auto;

    display: inline-block;
}

.form-card label{
    font-size: 1.5rem;
    text-align: left;

    color: var(--dark-gray);

    margin-left: 1.5rem;
    margin-bottom: 1rem;

    display: block;
}

.form-card input{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;

    background-color: var(--light-gray);

    width: 93.5%;

    padding: 1.5rem;
    border: none;
}

#email-err{
    color: var(--cancel);

    margin-top: 1rem;
    margin-bottom: 2rem;
}

#password-err{
    color: var(--cancel);

    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hidden{
    visibility: hidden;
}

.input-err{
    border: 2px solid var(--cancel) !important;
}

#link-signup{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;

    color: var(--black);
}

#btn-login{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;

    background-color: var(--black);
    color: var(--white);

    width: 100%;

    padding: 1.5rem;
    border: none;
    margin-bottom: 3rem;

    text-align: center;

    display: block;
    cursor: pointer;
}

#btn-login:hover{
    border-radius: 0.75rem;
}

@media screen and (max-width: 768px) {
    .brand{
        display: none;
    }

    .form{
        width: 100%;
        height: 100vh;
    }

    .form img{
        display: block;
    }

    .form-card input{
        max-width: 91.5%;
    }
}

@media screen and (max-width: 425px) {
    .form-card input{
        max-width: 84.5%;
    }
}