:root{
    --black: #000000;
    --dark-gray: #a7a7a7;
    --light-gray: #eeeeee;
    --white: #ffffff;
    --ok: #4bc221;
    --ok-dark: #317e15;
    --cancel: #c22148;
    --cancel-dark: #7e1530;
}

.hidden{
    display: none !important;
}

body{
    font-family: 'Epilogue', sans-serif;

    margin: 0;

    display: inline;

    overflow-x: hidden;
}

.input-err{
    border: 2px solid var(--cancel) !important;
}

.navbar{
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.15);

    font-size: 1.5rem;

    width: 100%;
    height: 10%;

    padding: 1.75rem;

    display: flex;
    align-items: center;
}

#logo:hover{
    cursor: pointer;
}

.navlinks{
    margin-left: 2.5rem;
    
    display: flex;
    justify-content: space-between;
}

.navlinks a{
    color: var(--dark-gray);
    
    margin: 0 2.5rem;

    text-decoration: none;
}

#navlogout{
    display: none;
}

#iconwallet{
    color: var(--black);
}

#wallet{
    color: var(--black);
}

#market:hover{
    color: var(--black);
}

#wallet:hover{
    color: var(--black);
}

#logout{
    color: var(--dark-gray);

    text-decoration: none;

    position: absolute;
    right: 2.25rem;
}

#logout:hover{
    color: var(--black);
}

.navicons{
    width: 90%;
    
    margin-top: 2rem;

    display: none;
    justify-content: space-around;
}

.navicons i{
    color: var(--dark-gray);
    
    margin: 0 2.5rem;

    text-decoration: none;
}

#iconwallet i{
    color: var(--black);
}

#iconmarket i:hover{
    color: var(--black);
}

#iconwallet i:hover{
    color: var(--black);
}

#iconlogout i:hover{
    color: var(--black);
}

.text{
    width: 72%;

    padding: 3rem;
    padding-bottom: 0;
    padding-left: 1.5rem;
}

.text span{
    font-size: 2.25rem;
}

.market{
    display: flex;
}

.header{
    width: 100%;

    margin-bottom: 3rem;

    display: flex;

    justify-content: space-between;
}

.cards{
    height: 100%;
    display: inline;
}

.card{
    background-color: var(--light-gray);

    padding: 3rem;

    margin-bottom: 3rem;

    display: flex;
    justify-content: space-between;
}

.card span{
    color: var(--dark-gray);
}

.name{
    font-size: 1.5rem;

    width: 50%;
}

.name span{
    color: var(--black);

    margin-right: 1rem;
}

.moneyname{
    color: var(--dark-gray) !important;
}

.actions{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.buttons{
    display: flex;
    justify-content: end;
    text-align: end;
}

.buttons i{
    font-size: 1rem;
}

.buttonsPlaceholder{
    display: none;
    justify-content: end;
    text-align: end;
}

.buttonsPlaceholder i{
    font-size: 1rem;
}

#sellDoge, #sellXrp, #sellAda{
    background-color: var(--cancel);
    color: var(--white);

    border: none;
}

#sellDoge:hover, #sellXrp:hover, #sellAda:hover{
    background-color: var(--cancel-dark);
}

#acquireDoge, #acquireXrp, #acquireAda{
    background-color: var(--ok);
    color: var(--white);

    border: none;
}

#acquireDoge:hover, #acquireXrp:hover, #acquireAda:hover{
    background-color: var(--ok-dark);
}

.image{
    width: 28%;

    z-index: -9999;

    display: flex;

    justify-content: center;
}

.image img{
    width: 25rem;
}

.footer{
    background-color: var(--black);

    width: 100vw;
    height: 5rem;

    display: flex;
}

.modal-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}

.modal-sell {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 48vh;	
    width: 60vw;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}

.modal-acquire {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 60vh;	
    width: 60vw;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}

.modal-header {
    height: 50px;
}

.modal-header button {
    background-color: rgba(255, 255, 255, 0);

    font-size: 1rem;
    
    padding: 0 15px 0 15px;
    border: none;

    float: right;
    line-height: 50px;
    cursor: pointer;
}

.label-button {
	box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin: 0 1rem;
    margin-right: 0;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.form{
    padding: 0 3rem;

    display: flex;
}

form{
    width: 100%;
}

.form label{
    font-size: 1rem;
    text-align: left;

    color: var(--dark-gray);

    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

    display: block;
}

.form input{
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;

    background-color: var(--light-gray);

    padding: 1rem;
    border: none;
}

.form-amount input{
    width: 97%;
}

.form-name{
    width: 72%;
}

.form-name input{
    width: 95.79%;
}

.form-cvv{
    width: 21%;
}

.form-cvv input{
    width: 85%;
}

.form-number input{
    width: 95.79%
}

.form-date{
    width: 21%;
}

.form-date input{
    width: 85%;
}

.form-number{
    width: 72%;
}

.line-2{
    display: flex;
    justify-content: space-between;
}

.line-3{
    display: flex;
    justify-content: space-between;
}

.btnConfirm{
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    text-decoration: none;

    background-color: var(--black);
    color: var(--white);

    width: 100%;

    padding: 1.1rem;
    border: none;
    margin-top: 4rem;
    margin-left: 0;

    text-align: center;

    display: block;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .image{
        display: none;
    }
    .text{
        width: 100%;

        padding: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .moneyname{
        display: none;
    }
}

@media screen and (max-height: 845px) {
    .modal-acquire{
        height: 66vh;
    }

    .modal-sell{
        height: 66vh;
    }
}

@media screen and (max-width: 825px) {
    .navbar{
        display: block;
    }

    .logo{
        width: 90%;

        display: flex;
        justify-content: center;
    }

    #logo{
        margin: 0 auto
    }

    .navlinks{
        margin: 0;
        margin-top: 2rem;
        margin-right: 5.5rem;

        justify-content: space-around;
    }
    
    #logout{
        display: none;
    }

    #navlogout{
        display: block;
    }

    .actions{
        width: 45%;
        justify-content: space-between;
    }
}

@media screen and (max-height: 768px) { 
    .modal-acquire{
        height: 73vh;
    }

    .modal-sell{
        height: 73vh;
    }
}

@media screen and (max-width: 685px){
    .actions{
        width: 50%
    }
}

@media screen and (max-width: 645px){
    .name{
        width: 30%;

        display: flex;
        align-items: center;
    }
    
    .quantity{
        display: none;
    }

    .price{
        display: flex;
        align-items: center;
    }

    .price span{
        display: inline;
    }

    .actions{
        width: 55%;
    }

    .buttons{
        align-items: center;
    }
}

@media screen and (max-height: 660px) {
    .modal-acquire{
        height: 85vh;
        width: 80vw;
    }

    .modal-sell{
        height: 85vh;
        width: 80vw;
    }
}

@media screen and (max-width: 620px) {
    .navlinks{
        display: none;
    }

    .navicons{
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .buttons{
        display: block;
    }

    .buttons button{
        margin: 0.5rem 0;
    }
}

@media screen and (max-width: 500px){
    .actions{
        width: 60%;
    }
}

@media screen and (max-width: 425px){   
    .card{
        display: block;
    }

    .money{
        font-size: 1rem;
    }
    
    .actions{
        margin: 1rem 0;
    }

    .buttons{
        display: none;
    }
    
    .buttonsPlaceholder{
        display: flex;
    }

    .modal-acquire{
        height: 100vh;
        width: 96vw;
    }

    .modal-sell{
        height: 100vh;
        width: 96vw;
    }

    #acquireForm label{
        width: 150%;

        margin: 1rem 0 0.75rem 1rem;
    }

    #acquireForm input{
        max-width: 90%;
    }

    #sellForm label{
        width: 150%;

        margin: 1rem 0 0.75rem 1rem;
    }

    #sellForm input{
        max-width: 90%;
    }

    #acquireForm button{
        margin-top: 2rem;
    }

    #sellForm button{
        margin-top: 13.5rem;
    }

    .line-1, .line-2, .line-3, .line-4{
        display: block;
    }
}